body {
    text-align: center;
    background-color: rgb(168, 164, 164);
    font-family: "Ubuntu";
    color: #fff;
    

    
}
.people{
    text-align:start;
      border: medium solid black;
    width: 300px;
    height: 160px;
    border-radius: 20px;
    background-color: gray;
    scale: 1.8;
    padding-top:10px;
    
}   
.people img{
    margin-top: 10px;
    border-radius:100%;
    scale: 1.4;
    transform: translateX(25%) translateY(5%);

}
.members {

    display: flex;
    flex-direction: column; /* элементы в строку */
    flex-wrap: wrap; /* перенос на новую строку если не помещаются */
    gap: 180px; /* расстояние между карточками */
    align-items: flex-end;
    transform: translateX(-5%) translateY(-27%)
}
.name {
    scale: 5;
    padding: 60px;
    
}

.why{
    
    scale: 4;
    padding: 70px;
}

.logo{
    position: absolute;
    top: 1%;
    left: .5%;
  
}
.example h1{
    scale: 2;
}
.chan{
    scale: 1.21;
    position: relative;
    top: -19px;
    left: 70px;

}
.video {

    width: 100%;
	height: 320px;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;

    
    
}
.participants h1 {
    scale: 3;
    padding: 60px;
}
.raidy {
    position: relative;
    left: -100px;
    top: -25px;
    
    scale: 2;

}
.alt a {
    text-decoration: none;
    color: #fff;
}
.alt a:hover{
    color: #dddddd;
}
.alt h1 {
    scale: 3.5;
    padding: 2%;
}
.people h2{
    text-align: start;
    transform: translateX(5%);
}
.people h3 {
    transform: translateX(50%) translateY(-600%);
}
