body {
    text-align: center;
    background-color: rgb(168, 164, 164);
    font-family: "Ubuntu";
    color: #fff;
    

    
}
.people{
      border: medium solid black;
    width: 170px;
    height: 260px;
    border-radius: 20px;
    background-color: gray;
    scale: 1.8;
    padding-top:10px ;
    
}   
.people img{
    margin-top: 10px;
    border-radius:100%;
    scale: 1;

}
.members {

    display: flex;
    flex-direction: row; /* элементы в строку */
    flex-wrap: wrap; /* перенос на новую строку если не помещаются */
    gap: 180px; /* расстояние между карточками */
    justify-content: center;
    padding-top: 100px;
}
.name {
    scale: 5;
    padding: 60px;
    
}

.why{
    
    scale: 4;
    padding: 70px;
}

.logo{
    position: absolute;
    top: 1%;
    left: .5%;
  
}
.example h1{
    scale: 2;
}
.chan{
    scale: 1.21;
    position: relative;
    top: -19px;
    left: 70px;

}
.video {

    position: absolute;
    left: 0%;
    padding: 60px;
    scale: 1
    
    
}
.advantages {
    scale: 2;
    padding: 30px;

}
.goodcoom {
    padding: 70px;
}
.goodcoom img {
    padding: 10px;
}
.participants h1 {
    scale: 3;
    padding: 60px;
}
.raidy {
    position: relative;
    left: -100px;
    top: -25px;
    
    scale: 2;

}
.alt a {
    text-decoration: none;
    color: #fff;
}
.alt a:hover{
    color: #dddddd;
}
.alt h1 {
    scale: 3.5;
    padding: 2%;
}

