.vscode/settings.json
project 1/13920050.jpg
project 1/films.html
project 1/hqdefault.jpg
project 1/index.html
project 1/index2.html
project 1/main_menu.html
project 1/pngwing.com.png
project 1/red-mountain-art-g397wcesxhrxm6ji.jpg
project 1/shutterstock_96250325.jpg
project 1/styles.css
project 1/styles2.css
project 1/styles3.css
project 1/нормальная ава.png
